main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 45px;
}
span {
    color: #114A8D;
}
.x-parent {
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: lightblue; */
    align-items: center;
}

.img-container {
    width: 50%;
    /* background-color: lightcoral; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: width 0.5s, height 0.5s;
    gap: 10px;
    overflow: hidden;
}

.img-container:hover p {
    width: 70%;
    height: 350px;
    opacity: 1;
    transition: .4s;
}
.img-container:hover h2 {
    bottom: 200px;
}

.img-container h2 {
    position: absolute;
    bottom: 10px;
    font-size: 35px;
    color: white;
    text-align: center;
    transition: all .5s;
}

.img-container p {
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: center;
    text-wrap: wrap;
    /* padding: 15px; */
    background-color: rgba(255, 0, 98, 0.74);
    width: 70%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    opacity: 0;
    transition: .4s;
    font-weight: 500;
}

.img-container h2 span {
    color: rgb(255, 238, 0);
}

img { 
    width: 70%;
    height: 350px;
}












@media only screen and (max-width: 700px){
    main {
        width: 100%;
        /* background-color: red; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    h1 {
        font-size: 45px;
    }
    span {
        color: #114A8D;
    }
    .x-parent {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        /* background-color: lightblue; */
        align-items: center;
        flex-direction: column;
        /* gap: 30px; */
    }
    
    .img-container {
        width: 100%;
        /* background-color: lightcoral; */
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: width 0.5s, height 0.5s;
        gap: 10px;
        overflow: hidden;
    }
    
    .img-container:hover p {
        height: 350px;
        opacity: 1;
        transition: .4s;
        width: 350px;
    }
    .img-container:hover h2 {
        bottom: 250px;
    }
    
    .img-container h2 {
        position: absolute;
        bottom: 10px;
        font-size: 25px;
        color: white;
        text-align: center;
        transition: all .5s;
    }
    
    .img-container p {
        position: absolute;
        background-color: rgba(255, 0, 98, 0.74);
   
        align-items: center;
        margin: auto;
        width: 0%;
    }
    
    .img-container h2 span {
        color: rgb(255, 238, 0);
    }
    
    img { 
        width: 350px;
        height: 350px;
    }
}


@media only screen and (max-width: 1620px) {
    .img-container h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 1400px) {
    .img-container h2 {
        font-size: 28px;
    }
    .img-container {
        width: 540px;
    }
}
